* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

.container {
    width: 360px;
    padding: 35px 30px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    color: #222;
}

h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #111;
}

p {
    font-size: 15px;
    color: #555;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-bottom: 18px;
    background: #f9f9f9;
    color: #333;
    text-align: center;
    transition: 0.3s;
}