* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

.container {
    width: 360px;
    padding: 35px 30px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    color: #222;
}